<a href="https://colab.research.google.com/github/jajoonaman/ML_DL_Work/blob/main/Corona_Tweets_Data(Naive_Bayes).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Applying Naive Bayes on Corona Tweets Dataset

In [ ]:
from google.colab import files
upload = files.upload()

Saving Corona_NLP_train.csv to Corona_NLP_train.csv

In [ ]:
import pandas as pd

df = pd.read_csv("Corona_NLP_train.csv",encoding = "ISO-8859-1")
df.head()

   UserName  ...           Sentiment
0      3799  ...             Neutral
1      3800  ...            Positive
2      3801  ...            Positive
3      3802  ...            Positive
4      3803  ...  Extremely Negative

[5 rows x 6 columns]

In [ ]:
print("Columns: \n", df.columns)
print("\nShape: \n", df.shape)
print("\nData type: \n", df.dtypes)

Columns:
 Index(['UserName', 'ScreenName', 'Location', 'TweetAt', 'OriginalTweet',
       'Sentiment'],
      dtype='object')

Shape:
 (41157, 6)

Data type:
 UserName          int64
ScreenName        int64
Location         object
TweetAt          object
OriginalTweet    object
Sentiment        object
dtype: object

In [ ]:
# Checking the unique values of sentiment

df.Sentiment.unique()

array(['Neutral', 'Positive', 'Extremely Negative', 'Negative',
       'Extremely Positive'], dtype=object)

#### Replacing and Dropping

1. Replace all the negative values with 0 and positive values with 1
2. Drop all the rows with Neutral value

In [ ]:
# Step 1
df.Sentiment.replace({'Positive':1, 'Extremely Positive':1, 'Extremely Negative':0, 'Negative': 0}, inplace = True)

# Step 2
df.drop(df[df['Sentiment'] == 'Neutral'].index, inplace=True) 

df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

   UserName  ...  Sentiment
1      3800  ...          1
2      3801  ...          1
3      3802  ...          1
4      3803  ...          0
5      3804  ...          1

[5 rows x 6 columns]

#### Converting Sentiment as Numerical from Categorical

In [ ]:
df['Sentiment'] = df['Sentiment'].astype(int)
df.head()

   UserName  ...  Sentiment
1      3800  ...          1
2      3801  ...          1
3      3802  ...          1
4      3803  ...          0
5      3804  ...          1

[5 rows x 6 columns]

#### Prerparing data and splitting it

In [ ]:
X = df.OriginalTweet
y = df.Sentiment.values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

print("Sahpe of X_train: ", X_train.shape, "\nShape of X_test: ", X_test.shape, "\nShape of y_train: ", y_train.shape, "\nShape of y_test:", y_test.shape)

Sahpe of X_train:  (23410,)
Shape of X_test:  (10034,)
Shape of y_train:  (23410,)
Shape of y_test: (10034,)

### Converting text to token counts

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vector = CountVectorizer(stop_words = 'english')

In [ ]:
train = vector.fit_transform([r for r in (X_train)])
test = vector.transform([r for r in (X_test)])

### Applying Multinomial Navie Bayes

In [ ]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()

# Fitting
mnb.fit(train, [int(a) for a in list(y_train)])

# Predicting
predict = mnb.predict(test)

### Calculating the AUC

In [ ]:
from sklearn import metrics
fpr, tpr, thresholds = metrics.roc_curve(list(y_test), predict, pos_label=1)

print("Multinomial naive bayes AUC: {0}".format(metrics.auc(fpr, tpr)))

Multinomial naive bayes AUC: 0.7886283773256332