<a href="https://colab.research.google.com/github/jajoonaman/ML_DL_Work/blob/main/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import io

In [ ]:
from google.colab import files
uploaded = files.upload()
data = pd.read_csv(io.StringIO(uploaded["Social_Network_Ads.csv"].decode('utf-8')))

Saving Social_Network_Ads.csv to Social_Network_Ads.csv

In [ ]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
X = data.iloc[:, [2, 3]].values
Y = data.iloc[:, 4].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 0, test_size = 0.25)

In [ ]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
y = y_pred.tolist()

In [ ]:
if y.count(0) > y.count(1):
  print("0")
else:
  print("1")

0

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred, Y_test)
cm

array([[65,  7],
       [ 3, 25]])